.content{
    background-color:rgba(127, 255, 212, 0.592);
    width: 11rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
}
.logo{
    width: 8rem;
    height: 8rem;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 4rem;
}
.list{
    list-style: none;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-left: 0;
}

.link{
    width: 100%;
}
.item{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 10%;
    display: inline-block;
    color: black;
    font-weight: bold;
    width: 90%;
    text-align: initial;
    border-bottom: solid 1px black;
}

.item:hover {
    background-color: rgb(61, 204, 212);
}